<section class="product_area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>
                        <span>
                            <strong>Our</strong>Brands</span>
                    </h2>
                </div>
                <!--brand area start-->
                <div class="product_carousel  product_column5">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>

                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>

                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>

                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>

                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>

                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>

                            <div class="single_brand">
                                <a href="#">
                                    <img src="assets/img/brand/brand.png" alt="">
                                </a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>

                </div>
            </div>
        </div>
    </div>
</section>
<!--brand area end-->