<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li>
                            <a href="index.html">home</a>
                        </li>
                        <li>Camera & Video </li>
                        <li>shop right sidebar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-12">
                <app-filter></app-filter>
            </div>

            <div class="col-lg-9 col-md-12">
                <app-list></app-list>
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->